/* global style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* header section */
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(../images/background.png);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    position: relative;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.cart {
    width: 50px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;

}

nav ul li a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.fa-bars {
    font-size: 25px;
    color: #fff;
    padding: 10px;
    display: none;
}

.text_box {
    color: #fff;
    position: absolute;
    bottom: 8%;
}

.text_box P {
    font-size: 50px;
    font-weight: 600;
}

.text_box h1 {
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.text_box h3 {
    font-size: 40px;
    font-weight: 500;
}

.text_box .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.text_box a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    
}

.text_box a span {
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}

.social_icons {
    position: absolute;
    right: 5%;
    bottom: 8%;
}

.social_icons img {
    width: 25px;
    display: block;
    margin: 25px 5px;
}

/* media query */

@media (max-width:1200px) {

    .text_box h1 {
        font-size: 100px;
    }

    .text_box h3 {
        font-size: 35px;
        font-weight: 500;
    }

    .social_icons {
        position: absolute;
        right: 5%;
        bottom: 35%;
    }

}

@media (max-width: 813px) {
    .row span {
        margin-top: 10px;
    }
}

@media (max-width: 655px) {

    .fa-bars {
        display: block;
        cursor: pointer;
    }

    .cart {
        display: none;
    }

    #navlist {
        position: absolute;
        top: 100%;
        right: 1000px;
        width: 200px;
        height: 20vh;
        background: transparent;
        border: 1px solid white;
        font-display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px 20px;
        transition: all 1s ease;
        border-radius: 5px;
        text-align: center;
        z-index: 2;
    }

    #navlist li {
        margin-top: 0;
    }


    .text_box h1 {
        font-size: 70px;
    }

    .text_box h3 {
        font-size: 25px;
        font-weight: 500;
    }
}

@media (max-width: 465px) {

    .container {
        background-position: center;
    }

    .text_box P {
        font-size: 40px;
        font-weight: 600;
    }

    .text_box h1 {
        font-size: 55px;
        line-height: 100px;
    }

    .text_box h3 {
        font-size: 25px;
        margin-right: 5px;
    }

    .social_icons {
        position: absolute;
        right: 5%;
        bottom: 45%;
    }

    .text_box a {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .row span {
        font-size: 15.6px;
    }



}